:where(.text-input) {
  color: var(--primary);
  background-color: var(--primary-100);
  border-width: 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: medium;

  &:focus {
    outline: none;
  }
}
